@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");

/* * {box-sizing:border-box;
  margin: 0;} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

body{
  color: white;
  font-family: "Roboto", sans-serif;
}

#slider{
  height: 500px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container{
  width: 1600px;
  margin:  auto;
}

.subcontainer{
  width: 85%;
  margin: auto;
}

.controller{
  display: flex;
  justify-content: space-between;
}

#controls{
  font-size: 1rem;
}

.previous,.nexts{
  color:white;
  padding: 2px;
  width: 22px;
  cursor: pointer;
  border-radius: 50%;
  outline: wheat;
  transition: 0.7s ease-in-out;
  border: 2px solid white;
  background-color: black;
  box-shadow: 0 0 5px #bbb;
}

.previous:hover, .nexts:hover{
  border: 3px solid gray;
}

.slide-img{
  width: 100%;
  height: 200px;
  border: 1px solid wheat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.slide-img:hover{
  box-shadow: 0 0 0 200px black inset;
}

.slide-img a{
  text-decoration: none;
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  color: white;
  opacity: 0;
}

.slide-img:hover a{
  opacity: 1;
  transform: scale(1);
}

.img-1{
  background-image: url(../images/event1.jpg);
}

.img-2{
  background-image: url(../images/event2.jpg);
}

.img-3{
  background-image: url(../images/event3.jpg);
}

.img-4{
  background-image: url(../images/event4.jpg);
}

.img-5{
  background-image: url(../images/event5.jpg);
}

.img-11{
  background-image: url(../images/e1.jpg);
}

.img-22{
  background-image: url(../images/e2.jpg);
}

.img-33{
  background-image: url(../images/e3.jpg);
}

.img-44{
  background-image: url(../images/e4.jpg);
}

@media(max-width:1600px){
  .container{
    width: 100%;
  }
}

#h1{
  padding: 2%;
  color: black;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* breadcrumb */
.breadcrumb span {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  white-space: nowrap;
  text-indent: 100%;
}

.breadcrumb {
  font-size: 12px;
  clear: both;
  max-width: 20px auto;
  width: 1240;
}

.breadcrumb ol {
  float: right;
}

ol {
  display: block;
  list-style-type: 1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.breadcrumb li {
  float: left;
  padding: 0 0 0 12px;
  margin: 0 0 0 8px;
  color: #757575;
}

li {
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}

