<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <header>
        <h1>BinBottle</h1>
        <nav>
            <h2>nav</h2>
        </nav>
    </header>
    <br>
    <hr class="layout">
    <section>
        <h2>section</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis voluptatem fuga debitis magni. Deserunt reiciendis unde laboriosam eius fugit officiis repudiandae corporis nihil, similique amet eaque itaque? Harum, quibusdam et.</p>
    </section>
    <article>
        <h2>article</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita velit modi sequi quas ut quisquam, beatae, dolores, magnam at sapiente sit dolorem possimus in? Beatae a ut numquam odit debitis?</p>
    </article>
    <hr class="layout">
    <br>
    <footer>
        <div id="mfooter" class="cboth">
            <div class="lfooter">
                <div class="ft_info01">
                    <b>BinBottle</b>
                    <br>
                    " 서울특별시 00구 00동 "
                    <span> | </span>
                    " 사업자번호 : 000-00-00000 "
                    <a href="#none" onclick="window.open"('https://')>[사업자정보확인]</a>
                    <span> | </span>
                    " 통신판매업신고 : 2022-서울00구-0000 "
                    <br>
                    " CEO: 000 "
                    <span> | </span>
                    " MAIL : binbottle.gmail.com "
                    <br>
                    " CALL CENTER : 02-0000-0000 "
                    <span> | </span>
                    " FAX : 02-0000-0000 "
                </div>
                <div class="ft_info02">
                    © copyright
                </div>
            </div>
            <div class="rfooter">
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>