
* {
    box-sizing:border-box;
    text-decoration: none;
    color: var(--text-color);
}

.navbarMenu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}

body {
    margin-top: 100px;
    font-family: 'Trebuchet MS', serif;
    line-height: 1.6;
    width: 1000px;
    margin: 0 auto;
}

