html, body, div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, 
pre, code, form, fieldset, legend, input, textarea, p, blockquote,
th, td, img {
    margin: 0;
    padding: 0;
}

body, code {
    color: #353535;
    background: #fff;
}

div {
    display: block;
}

#wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: 550px;
}

#container {
    width: 1240px;
    zoom: 1;
    position: relative;
    margin: 0 auto;
}

#container::after {
    content: "";
    display: block;
    clear: both;
}

.boardMain .leftArea {
    float: left;
    width: 50%;
}

.boardMain .rightArea {
    float: right;
    width: 50%;
}

footer {
    width: 100%;
    background: #f6f6f6;
}

b {
    font-weight: bold;
}

a, a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    text-align: -webkit-match-parent;
}

colgroup {
    display: table-column-group;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

#mfooter {
    margin: 60px auto 0px;
    width: 1280;
    text-align: left;
    background: #f6f6f6;
}

.cboth {
    clear: both;
}

.cboth::after{
    content: " ";
    display: block;
    clear: both;
}

#mfooter .lfooter {
    float: left;
    padding-top: 45px;
    padding-bottom: 45px;
}

#mfooter .ft_info01 {
    font-size: 11px;
    color: #888;
    line-height: 21px;
    padding-top: 30px;
}

#mfooter .ft_info01 span {
    padding: 0px 5px;
    font-weight: 300;
}


#mfooter .ft_info02 {
    font-size: 11px;
    color: #888;
    line-height: 1px;
    padding-top: 30px;
}
