/*navbar*/
.navbar {
    display: flex; /*세로 -> 가로*/
    justify-content: space-between; /*박스 사이 빈 공간*/
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}
body {
    margin: 0;
    background-color: var(--background-color);
}
a {
    text-decoration: none; /*파란글씨와 밑줄 제거*/
    color: var(--text-color);
}
.navbarMenu {
    list-style: none; /*\/구분점 제거*/
    display: flex; 
    margin: 0;
    padding-left: 0;
}
.navbarMenu li {
    padding: 8px 30px;
}
.navbarMenu li a {
    color: #222;
    text-decoration: none;
    position: relative;
}
.navbarMenu li a:before {
    content: '';
    background-color: rgb(18, 176, 126);
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -10px;
    transition: 0.3s;
}
.navbarMenu li a:hover:before {
    width: 100%;
}
.navbarIcon {
    list-style: none;
    display: flex;
    color: var(--icon-color);
    margin: 0;
    padding-left: 0;
}
.navbarIcon li {
    padding: 8px 12px;
    margin: 0;
}

/*Google Map*/
.mapFrame {
    text-align: center;
    margin: 50px 0;
}
.mapContent {
    width: 800px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

/*Address Search*/
.address {
    display: flex;
    margin: auto;
}